[phases.setup]
nixPkgs = ["dotnet-sdk", "nodejs_20"]

[phases.install]
cmds = [
  "cd Backend && dotnet restore",
  "cd Frontend && npm install"
]

[phases.build]
cmds = [
  "cd Frontend && npm run build",
  "rm -rf Backend/wwwroot/*",
  "cp -r Frontend/dist/* Backend/wwwroot/",
  "cd Backend && dotnet publish --no-restore -c Release -o out"
]

[start]
cmd = "cd Backend/out && dotnet Backend.dll --urls http://0.0.0.0:$PORT"
