[phases.setup]
nixPkgs = ["dotnet-sdk"]

[phases.install]
cmds = ["cd Backend && dotnet restore"]

[phases.build]
cmds = ["cd Backend && dotnet publish --no-restore -c Release -o out"]

[start]
cmd = "cd Backend/out && dotnet Backend.dll --urls http://0.0.0.0:$PORT"
